<div ng-controller="SiteIndexCtrl" style="height: {{WindowInfo.height}}px">
	<div console-panel name="message"></div>
	<div id="ButtonBox" style="height:100%; overflow: auto;">
		<div><input type="text" ng-model="project_path" style="width:90%;" class=""/></div>
		<button ng-click="getTestTree()" class="btn">
			测试列表
		</button>
		<button ng-click="joinAppAndStart()" class="btn">
			加入并启动项目
		</button>
		<h3>测试用例</h3>
		<ul class="siteindex-test-ul" ng-init="cur={active:null}">
			<li>
				<button ng-click="stopAllTest();cur.active=null" type="button">停止所有</button>
			</li>
			<li ng-repeat="item in test_list">
				<span ng-class="{active:cur.active==(item.name)}">{{item.name}}</span>
				<a ng-click="runTest({file: item.name});cur.active=(item.name)">启动测试</a>
				<ul>
					<li ng-repeat="it in item.list">
						<span ng-class="{active:cur.active==(item.name+it)}">{{it}}</span>
						<a ng-click="runTest({file: item.name, grep: it});cur.active=(item.name+it)">启动测试</a>
					</li>
				</ul>
			</li>
		</ul>
		<button ng-click="createSchemas()" class="btn" type="button">createSchemas</button>
		<button ng-click="createModels()" class="btn" type="button">createModels</button>
		<button ng-click="createRouters()" class="btn" type="button">createRouters</button>
		<button ng-click="createModelTests()" class="btn" type="button">createModelTests</button>
	</div>
</div>