html,
body {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑', Arial, sans-serif;
  font-size: 14px;
}

.BMap-container img {
  max-width: none;
}

#debugContainer {
  position: fixed;
  z-index: 99999999999;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
}
#debugContainer label {
  display: inline;
}
#debugContainer #wmcDebugBody {
  position: absolute;
  width: 300px;
  height: 350px;
  bottom: 0;
  right: 0;
}
#debugContainer #wmcDebugBody .debug-main {
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}
#debugContainer #wmcDebugBody .background-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #fff;
  opacity: 0.9;
}

#appLayout {
  padding: 0;
}

.member-my-collect-title {
  font-size: 16px;
}
.member-collect-list .collect-item {
  float: left;
  width: 200px;
  height: 220px;
  padding: 10px;
  margin: 0 10px 10px 0;
  border: 1px solid #eee;
  position: relative;
  list-style: none;
  text-align: center;
}
.member-collect-list .collect-item .del-collect-btn {
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  border-radius: 15px;
  widht: 16px;
  height: 16px;
}

#memberContaier {
  position: relative;
}
#memberSidebar {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  background: #eee;
  height: 100%;
}
#memberBody {
  padding-left: 230px;
}


#loginForm {
  font-size: 14px;
  width: 300px;
  padding: 20px 0;
  margin: 0px auto;
  width: 380px;
}
#loginForm label {
  display: inline;
}


#navbarContainer {
  height: 40px;
  position: relative;
  z-index: 10;
}
#navbarContainer .container {
  width: 100%;
}
#navbarContainer a {
  cursor: pointer;
}

#siteIndexContainer label {
  display: inline;
}
#siteIndexContainer input[type="text"] {
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  margin-right: 10px;
}

#siteSidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background: #eaeaea;
  overflow: auto;
}
#siteSidebar .main-box {
  width: 700px;
  overflow: hidden;
}
#siteSidebar .main-box .item-list,
#siteSidebar .main-box api-list {
  width: 50%;
  float: left;
}
#siteSidebar .main-box .item-list li {
  border-bottom: 1px solid #ccc;
}
#siteSidebar .main-box .item-list li a {
  padding: 10px;
}
#siteSidebar .main-box .item-list li a .icon-chevron-right {
  float: right;
  opacity: 0.5;
}
#siteSidebar .animation {
  -webkit-transform: translateX(-350px);
}
#siteSidebar .done {
  -webkit-transition-property: all;
  -webkit-transition-duration: 10.5;
  -webkit-transition-delay: 0;
  -webkit-transition-timing-function: ease;
}
#siteContainer {
  padding-left: 360px;
}
#siteContainer ul,
#siteContainer li,
#siteContainer dl,
#siteContainer dt,
#siteContainer dd,
#siteContainer p,
#siteContainer form {
  margin: 0;
  padding: 0;
}

.qy-table-thead th {
  background: #eee;
}
.qy-table-filter td {
  padding: 0;
  background: #fff !important;
}
.qy-table-filter input,
.qy-table-filter select {
  margin: 0;
  width: 100%;
  border-radius: 0;
  border: 0;
  box-shadow: none;
  outline: none;
}
.qy-table-filter select {
  height: 25px;
}
.qy-table-tfoot td {
  text-align: center;
}
.qy-table-tfoot .table-pages {
  float: right;
  padding: 0 30px;
  margin: 0;
}
