Q = require 'q'
mongoose = require "../utils/mongoose"
{% for field in doc.fields %} {% if field.sub_schema %}
{{field.sub_schema}} = require "./{{field.sub_schema}}"
{% endif %} {% endfor %}
module.exports = new mongoose.Schema
{% for field in doc.fields %}
	{{field.name|raw}}: 
		type: {{field.type|fieldType(field.sub_schema)}} {% if field.is_trim %}
		trim: {{field.is_trim|default(false)}} {% endif %} {% if field.is_lowercase %}
		lowercase: {{field.is_lowercase|default(false)}} {% endif %} {% if field.is_required %}
		required: {{field.is_required|default(false)}}  {% endif %} {% if field.enums|raw|fieldEnum %}
		enum: {{field.enums|raw|fieldEnum}} {% endif %} {% if field.default|raw|fieldDefault %}
		default: {{field.default|raw|fieldDefault(field.type)}} {% endif %}
		intro: '{{field.intro|raw}}'
{% endfor %}