/**
 * {{doc.modelName}}
 */
var Sequelize = require('sequelize');
var DataTypes = Sequelize;
exports.fields = {
{% for field in doc.fields %}
	{{field.Field|raw}}: {
		type: DataTypes.{{field.Type|sequilizeFieldType|raw}},
		allowNull: {% if field.Null==='NO' %}false{% elseif field.Null==='YES' %}true{% endif %},
		autoIncrement: {% if field.Extra === 'auto_increment' %}true{% else %}false{% endif %},
		primaryKey: {% if field.Key === 'PRI' %}true{% else %}false{% endif %},
		defaultValue: {{field.Default|sequilizeFieldDefault|raw}},
		comment: "{{field.Comment}}"
	}{% if !loop.last %},{% endif %}
{% endfor %}
};

exports.tableName = '{{doc.tableName}}',
exports.charset = 'UTF8'