html,body
	margin:0
	padding:0
	font-family: '微软雅黑',sans-serif,Arial
	font-size:14px
	background: #272822
	color: #b4b4b4

#appContainer
	position: fixed
	top:0
	bottom:0
	left:0
	right:0

#sidebarBox
	position: absolute
	top: 30px
	left: 0
	bottom:0
	width:310px
	// background: #eee
	background: #202020
	overflow: auto
	padding-right:10px

#containerBox
	position: absolute
	top: 30px
	left:321px
	bottom:0
	right:0
	overflow: auto


.form-header
	position: absolute
	top:0
	right:0
	left:0
	height:29px
	border-bottom:1px solid #333
	background:#222
	list-style: none
	padding:0
	margin:0
	li 
		float:left
		padding:0 20px
		border-right:1px solid #333
		line-height:29px
		height:35px
		overflow:hidden
		cursor: pointer
		list-style: none
	.active
		background:#121212
.form-main
	position: absolute
	top:30px
	right:0
	bottom:0
	left:0
	overflow:auto
.form-main.no-code
	background: #fff
	color: #333
	padding: 20px
.form-footer
	position: absolute
	height:15px
	right:0
	bottom:0
	left:0
	background:#333
	padding:10px 0
	overflow:hidden