#debugContainer
	label
		display:inline
	position: fixed
	z-index: 99999999999
	right:0
	bottom:0
	width:0
	height:0
	#wmcDebugBody
		position:absolute
		width:300px
		height:350px
		bottom:0
		right:0
		.debug-main
			height:100%
			overflow:hidden
			margin:0 auto
			padding:10px
		.background-layer
			position: absolute
			top:0
			left:0
			bottom:0
			right:0
			z-index:-1
			background:#fff
			opacity:0.9