<div ng-controller="ActionCtrl" class="action-main">
	<form ng-submit="save()" method="post" accept-charset="utf-8" on-ctrl-s="save()">
		<ul class="form-header" ng-init="show_tab=2">
			<li ng-click="show_tab=1" ng-class="{active: show_tab==1}">需求配置</li>
			<li ng-click="show_tab=2" ng-class="{active: show_tab==2}">实现代码</li>
			<li ng-click="show_tab=3" ng-class="{active: show_tab==3}">测试代码</li>
		</ul>
		<div class="form-main no-code" ng-if="show_tab==1">
			<div>
				<textarea ng-model="model.intro" placeholder="函数功能说明"></textarea>
			</div>
			<div>
				<input type="text" ng-model="model.name" placeholder="函数名称" />
			</div>
			<h4>参数</h4>
			<ul>
				<li ng-repeat="parame in model.parames">
					<input ng-model="parame.name" type="text" placeholder="参数名称" />
					<input ng-model="parame.value" type="text" placeholder="参数值" />
					<input ng-model="parame.intro" type="text" placeholder="参数描述" />
					<a class="btn" ng-click="delParame($index)">-</a>
				</li>
				<li><a class="btn" ng-click="addParame()">+增加</a></li>
			</ul>
		</div>
		<div class='form-main' ng-if="show_tab==2">
			<div ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'monokai',
				mode: 'coffee',
				onLoad: aceLoaded
			}" ng-model="model.code" placeholder="实现代码"></div>
		</div>
		<div class='form-main' ng-if="show_tab==3">
			<div ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'monokai',
				mode: 'coffee',
				onLoad: aceLoaded
			}" ng-model="model.test_code" placeholder="测试代码"></div>
		</div>
		<div class="form-footer">
			<input class="btn btn-primary" type="submit" value="保存" />
		</div>
	</form>
</div>