<div class="console-pannel-main" ng-init="ConsolePannelShown=true" ng-controller="ConsolePannelCtrl">
	<div class="console-pannel-close-btn">
		<p class="btn" ng-click="ConsolePannelShown=!ConsolePannelShown">收起<span class="icon-chevron-down"></span></p>
		<p class="btn" ng-click="ConsoleMessages.messages=[]">清除<span class="icon-ban-circle"></span></p>
	</div>
	<div class="console-pannel-content" ng-show="ConsolePannelShown" ng-style="{top:y}">
		<div class="console-pannel-drag-top" co-on-drag="move" init-y="{{y}}">==</div>
		<ul >
			<li ng-repeat="message in ConsoleMessages.messages">
				{{message.content}}
			</li>
		</ul>
	</div>
</div>
