<ul ng-controller="AppItemSidebarCtrl">
	<li>
		<h4>项目管理</h4>
		<a ui-sref="appitem.create" class="icon-plus sidebar-add-btn" title="添加"></a>
		<ul>
			<li class="sidebar-item-li" ng-repeat="appitem in AppItem._models">
				<a ui-sref="appitem.update({_id: appitem._id})" class="title">
					<span>{{appitem.name}}</span>
				</a>
				<a class="icon-minus right" ng-click="AppItem.delByIndex($index)" title="删除"></a>
				<a class="icon-plus-sign right" title="测试"></a>
				<a class="icon-play right" title="进入项目" ng-click="intoProject(appitem._id)"></a>
			</li>
		</ul>
	</li>
</ul>