<div ng-controller="AppItemCtrl" class="config-main">
	<form ng-submit="save()" method="post" accept-charset="utf-8" on-ctrl-s="save()">
		<ul class="form-header" ng-init="show_tab=1">
			<li ng-click="show_tab=1" ng-class="{active: show_tab==1}">主配置</li>
			<li ng-click="show_tab=2" ng-class="{active: show_tab==2}">其它配置</li>
		</ul>
		<div class="form-main no-code" ng-if="show_tab==1">
			<div>
				应用名称：<input type="text" ng-model="model.name" />
			</div>
			<div>
				使用端口：<input type="text" ng-model="model.server_port" />
			</div>
			<div>
				存放目录：<input type="text" ng-model="model.directory" />
			</div>
			<div>
				开启DEBUG模式：
				<div co-radio="[{key:false, value:'关闭'},{key:true,value:'开启'}]" ng-model="model.debug"></div>
			</div>
			<dl>
				<dt>数据库配置</dt>
				<dd>HOST： <input type="text" ng-model="model.db_host" /></dd>
				<dd>端口： <input type="text" ng-model="model.db_port" /></dd>
				<dd>库名： <input type="text" ng-model="model.db_name" /></dd>
				<dd>用户名： <input type="text" ng-model="model.db_username" /></dd>
				<dd>密码： <input type="text" ng-model="model.db_password" /></dd>
			</dl>
		</div>
		<div class='form-main' ng-if="show_tab==2">
			<div ui-ace="{
				useWrapMode : true,
				showGutter: true,
				theme:'monokai',
				mode: 'coffee',
				onLoad: aceLoaded
			}" ng-model="model.other_conf" placeholder="其它配置"></div>
		</div>
		<div class="form-footer">
			<input class="btn btn-primary" type="submit" value="保存" />
		</div>
	</form>
</div>