<ul ng-controller="ProjectSidebarCtrl">
	<li class="sideber-manage-btn">
		<span ng-click="generateAppItem()"><i class="icon-random"></i>生成应用</span>
		<span ng-click="runAppItem()"><i class="icon-play"></i>启动应用</span>
		<span ng-click="loggerShow()"><i class=" icon-eye-close"></i>控制台</span>
	</li>
	<li>
		<div>
			<span>数据模型管理</span>
			<span class="project-sidebar-dir">/service/models|schemas/</span>
			<a ui-sref="schema.create" class="icon-plus sidebar-add-btn" title="添加"></a>
		</div>
		<ul class="">
			<li class="sidebar-item-li" ng-repeat="schema in Schema._models">
				<a ui-sref="schema.update({_id: schema._id})" class="project-sidebar-title">
					<span>{{schema.model_name}}</span> 
					<span class="sidebar-item-title">{{schema.title}}</span>
				</a>
				<div class="project-sidebar-li-right">
					<div plan-status="Schema.save(schema)" ng-model="schema.plan_status"></div>
					<a class="icon-minus" ng-click="Schema.delByIndex($index)" title="删除"></a>
					<a class="icon-repeat" title="测试"></a>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div>
			<span>URL请求管理</span>
			<span class="project-sidebar-dir">/service/routes.coffee</span>
			<a ui-sref="requrl.create" class="icon-plus sidebar-add-btn" title="添加"></a>
		</div>
		<ul>
			<li class="sidebar-item-li" ng-repeat="requrl in Requrl._models">
				<a ui-sref="requrl.update({_id: requrl._id})" class="project-sidebar-title">
					<span>{{requrl.path}}</span> 
					<span class="sidebar-item-title">{{requrl.title}}</span>
				</a>
				<div class="project-sidebar-li-right">
					<div plan-status="Requrl.save(requrl)" ng-model="requrl.plan_status"></div>
					<a class="icon-minus" ng-click="Requrl.delByIndex($index)" title="删除"></a>
					<a class="icon-repeat" title="测试"></a>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div>
			<span>功能单元管理</span>
			<span class="project-sidebar-dir">/service/actions/</span>
			<a ui-sref="action.create" class="icon-plus sidebar-add-btn" title="添加"></a>
		</div>
		<ul>
			<li class="sidebar-item-li" ng-repeat="action in Action._models | orderBy: 'name'">
				<a ui-sref="action.update({_id: action._id})" class="project-sidebar-title">
					<span>{{action.name}}</span> 
					<span class="sidebar-item-title">{{action.intro}}</span>
				</a>
				<div class="project-sidebar-li-right">
					<div plan-status="Action.save(action)" ng-model="action.plan_status"></div>
					<a class="icon-minus" ng-click="Action.delByIndex($index)" title="删除"></a>
					<a class="icon-repeat" title="测试"></a>
				</div>
			</li>
		</ul>
	</li>
	<li>
		<div>
			<span>代码文件管理</span>
			<span class="project-sidebar-dir">/</span>
			<a ui-sref="codefile.create" class="icon-plus sidebar-add-btn" title="添加"></a>
		</div>
		<ul>
			<li class="sidebar-item-li" ng-repeat="codefile in CodeFile._models">
				<a ui-sref="codefile.update({_id: codefile._id})" class="project-sidebar-title">
					<span>{{codefile.name}}</span> 
					<span class="sidebar-item-title">{{codefile.intro}}</span>
				</a>
				<div class="project-sidebar-li-right">
					<div plan-status="CodeFile.save(codefile)" ng-model="codefile.plan_status"></div>
					<a class="icon-minus" ng-click="CodeFile.delByIndex($index)" title="删除"></a>
					<a class="icon-repeat" title="测试"></a>
				</div>
			</li>
		</ul>
	</li>
</ul>