require "should"
Q = require 'q'
log4js = require 'log4js'
request = require 'request'

domain = 'http://127.0.0.1:{{server_port|default('1080')}}'
describe "{{doc.title}} 功能测试", ->
	it 'Requrl {{doc.title}}', (done)->
		request.{{doc.type|lower}} 
			url: domain+'/{{doc.path}}'
			{% if doc.posts.length>0 && doc.type=='POST' %}
			form:
				{% for param in doc.posts %}
				{{param.name|raw|default('""')}}: {{param.value|raw|default('""')}}
				{% endfor %}
			{% endif %}
			{% if doc.posts.length>0 %}
			qs:
				{% for param in doc.gets %}
				{{param.name|raw|default('""')}}: {{param.value|raw|default('""')}}
				{% endfor %}
			{% endif %}
		, (error, response, body)->
			{{doc.test_code|raw|formatCode(3)}}